# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [10]:
# 計算每個不同種類 animal 的 age 的平均數
df.groupby('animal')['age'].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [11]:
# 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(by = ['age', 'visits'], ascending = [True, False])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [18]:
# 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df.priority.replace({'yes': True, 'no': False}, inplace = True)
print(df.priority.dtype)

bool

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [19]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.782880  0.622162  0.046841
1  0.362252  0.933814  0.386340
2  0.459771  0.774071  0.886529
3  0.646288  0.234063  0.779591
4  0.363385  0.444553  0.781811

In [23]:
# 減去該欄位的平均數
df-df.mean()

          0         1         2
0  0.259964  0.020429 -0.529382
1 -0.160663  0.332081 -0.189883
2 -0.063144  0.172338  0.310307
3  0.123373 -0.367669  0.203369
4 -0.159530 -0.157180  0.205589

In [26]:
df.sub(df.mean(axis = 1),axis='index')

          0         1         2
0  0.298919  0.138201 -0.437120
1 -0.198550  0.373012 -0.174462
2 -0.247019  0.067280  0.179739
3  0.092974 -0.319251  0.226277
4 -0.166531 -0.085364  0.251895

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [33]:
df

          0         1         2
0  0.763566  0.846747  0.885887
1  0.782180  0.006052  0.844430
2  0.547830  0.603736  0.106965
3  0.763000  0.586530  0.882552
4  0.311204  0.609405  0.915406

In [32]:
df.sum(axis=1).argmax()

2

In [33]:
df.sum(axis=0).argmax()

1