# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [5]:
# 計算每個同種類 animal 的 age 的平均數
df.groupby('animal')['age'].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [6]:
# 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(by = ['age', 'visits'], ascending = [True, False])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [7]:
# 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df.priority.replace({'yes': True, 'no': False}, inplace = True)
print(df.priority.dtype)

bool

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [8]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.789918  0.042681  0.224804
1  0.428554  0.307363  0.843195
2  0.290732  0.102379  0.577344
3  0.438300  0.645692  0.553612
4  0.281876  0.962244  0.690209

In [9]:
# 減去該欄位的平均數
df-df.mean()

          0         1         2
0  0.344042 -0.369391 -0.353029
1 -0.017322 -0.104708  0.265362
2 -0.155144 -0.309693 -0.000489
3 -0.007576  0.233620 -0.024221
4 -0.164000  0.550172  0.112376

In [10]:
df.sub(df.mean(axis = 1),axis='index')

          0         1         2
0  0.437450 -0.309787 -0.127664
1 -0.097817 -0.219008  0.316825
2 -0.032753 -0.221106  0.253859
3 -0.107568  0.099824  0.007744
4 -0.362901  0.317467  0.045433

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [11]:
df

          0         1         2
0  0.789918  0.042681  0.224804
1  0.428554  0.307363  0.843195
2  0.290732  0.102379  0.577344
3  0.438300  0.645692  0.553612
4  0.281876  0.962244  0.690209

In [12]:
df.sum(axis=1).argmin()

2

In [13]:
df.sum(axis=0).argmin()

1