# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [1]:
# 記得先 Import 正確的套件

import pandas as pd

In [3]:
a = [{'Apples':30, 'Bananas':21}]
pd.DataFrame(a)

   Apples  Bananas
0      30       21

In [7]:
b = [(35, 21), (41, 34)]
labels = ['Apples','Bananas']
index = ['2017 Sales', '2018 Sales']
print(pd.DataFrame.from_records(b, index = index, columns = labels))
print(pd.DataFrame([[35, 21], [41, 34]], index = index, columns = labels))

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34
            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [29]:
c = {'city': ['Austin', 'Dallas', 'Austin', 'Dallas'], 
     'visitor': [139, 237, 326, 456],
     'weekday': ['Sun', 'Sun', 'Mon', 'Mon']}
df = pd.DataFrame.from_dict(c)
print(df)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [30]:
df['visitor'][df['weekday']=='Sun'].mean()

188.0

In [31]:
df['visitor'][df['weekday']=='Mon'].mean()

391.0